@model IEnumerable<DistrictView>
@using Entity.Data.Request
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center text-success">@TempData["Success"]</h3>
<h3 class="text-center text-danger">@TempData["Error"]</h3>
<div class="row">
    <div class="col-1">
        <a class="btn btn-primary" asp-controller="District" asp-action="Create">Create</a>
    </div>
    <div class="col-2" style="position:absolute;right:170px">
        <form asp-controller="District" asp-action="Index" method="get" class="my-2 mx-2">
            <div class="input-group">
                <input name="keyWord" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
                <button style="height:30px;text-align:center" class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
            </div>
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tỉnh/Thành Phố</th>
            <th>Quận/Huyện</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.ActionLink("Cập nhập", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Xóa", "Details", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-right">
    @* @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index")) *@
    @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {pageNumber = page,
    keyWord = @Context.Request.Query["keyWord"],
    }),
    new X.PagedList.Web.Common.PagedListRenderOptions {
    LiElementClasses = new string[] {"page-item"},
    PageClasses = new string[] { "page-link" }
    })
</div>