@model IEnumerable<Entity.Models.Job>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center text-success">@TempData["Success"]</h3>
<h3 class="text-center text-danger">@TempData["Error"]</h3>
<div class="row">
    <div class="col-1">
        <a class="btn btn-primary" asp-controller="Job" asp-action="Create">Create</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Nghề Nghiệp</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.ActionLink("Cập nhập", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Xóa", "Details", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
